{% extends 'base.html.twig' %}

{% block title %}Créer une nvlle Categorie{% endblock %}

{% block body %}
    <h1>Editer une nvlle Categorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('category_index') }}">Retour liste</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}

