{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<body class="no-trans">
    <div class="container">
      <div class="row">				
    <h1>Create new Category</h1>
    {% if is_granted("ROLE_ADMIN") %}
    {{ include('category/_form.html.twig') }}
    
    <a href="{{ path('category_index') }}">back to list</a>
    {% else %}
    <a href="{{ path('home_index') }}">back to list</a>
    {% endif %}
</div>
</div>
</body>
{% endblock %}

