{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Créer une nvlle categorie</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">Retour liste</a>
{% endblock %}
