{% extends 'base.html.twig' %}

{% block title %}Edit admin{% endblock %}

{% block body %}
<body class="no-trans">
    <div class="container">
        <div class="row">					 
          <div  style="background-color:aqua!important; margin-top: 0px; opacity: 0.8!important;" data-animation-effect="fadeIn">
    <h1>Edit admin</h1>

    {{ include('adminhome/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary"  role="button" href="{{ path('adminhome_index') }}">back to list</a>

    {{ include('adminhome/_delete_form.html.twig') }}
</div>
</div>
</div> 
</body>
{% endblock %}
