{% extends 'base.html.twig' %}

{% block title %}Edit Cours{% endblock %}

{% block body %}
    <h1>Editer Cours</h1>

    {{ include('cours/_form.html.twig', {'button_label': 'Update'}) }}

    <<button style="color: #333333!important;" type="button" class="btn btn-dark" href="{{ path('cours_index') }}">back to list</button>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
