{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Nouveau cours{% endblock %}

{% block body %}
<body class="no-trans">
    <div class="container">
        <div class="row">					 
          <div style="background-color:aqua!important; margin-top: 0px; opacity: 0.8!important;" data-animation-effect="fadeIn">
  
    <h1>Créer un nouveau cours</h1>

    {{ include('cours/_form.html.twig') }}
    
    <a class="btn btn-primary"  role="button" href="{{ path('cours_index') }}">Retour liste</a>

</div>
</div>
</div>           
</body>
    {% endblock %}
