<body class="no-trans">
    <div class="container">
        <div class="row">					 
          <div  style="background-color:aqua!important; margin-top: 0px; opacity: 0.8!important;" data-animation-effect="fadeIn">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary"  role="button" class="btn">{{ button_label|default('Validez') }}</button>
{{ form_end(form) }}
</div>
</div>
</div> 
</body>
